@import "tailwindcss";

@theme {
  --color-gymRed: #FF3B3B;
  --color-gymDark: #0a0a0a;
  --font-sans: 'Inter', sans-serif;
  
  /* Animation for the Modal Slide Up */
  --animate-slide-up: slide-up 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  
  @keyframes slide-up {
    0% { transform: translateY(100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-gymDark);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gymRed);
}